@import "./variables";

.App {
  
  h1 {
    font-family: p22-underground, sans-serif;
    font-weight: 100;
    font-style: normal;
    text-transform: lowercase;
    font-size: 3.5em;
  }

  h2 {
    font-family: p22-underground, sans-serif;
    font-weight: 900;
    font-style: normal;
    text-transform: lowercase;
    font-size: 1.8em;
  }
  
  a {
    font-family: p22-underground, sans-serif;
    font-weight: 900;
    font-style: normal;
    color: $blackpearl;
    text-decoration: none;
    transition: all .3s ease-in-out;
  
    &:hover {
      color: darken( $blackpearl, 20% );
    }
  }

  p {
    font-family: p22-underground, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
  }

  .btn {
    background-color: $blackpearl;
    color: $lilywhite;
    text-transform: uppercase;
    padding: 12px 25px 10px 25px;
  }

  header {
    .social-list-container {
      background-color: $blackpearl;
      width: calc(100% - 60px);
      height: 30px;
      padding: 5px 30px;
      display: flex;
      justify-content: flex-end;;

      .social-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;
        width: 15%;

        a {
          color: $lilywhite;
          font-size: 16px;
          &:hover {
            .social-icon {
              transform: translateY(3px);
            }
          }
  
          .social-icon {
            transition: transform .3s ease-in-out;
          }
        }
      }
    }

    #main-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0px 4px 20px rgba(0,0,0,.1);
      padding: 15px 30px;

      .logo {
        width: 100px;
      }

      nav {
        ul {
          list-style: none;
          display: flex;
          justify-content: space-between;
          width: 400px;
  
          a {
            text-transform: uppercase;
          }
  
          @media only screen and (max-width: 775px) {
            display: none;
          }
        }
      }
    }
  }

  main {
    margin: 30px;

    #speaking,
    #buzzwords,
    #projects,
    #community {

      ul {
        list-style: none;
        padding-left: 0;
      }
    }
  }
  
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }
}