@import "./variables";

.App {

  margin-top: 320px;

  /* START: Generics */

  h1 {
    font-family: p22-underground, sans-serif;
    font-weight: 100;
    font-style: normal;
    text-transform: lowercase;
    font-size: 3.5em;
  }

  h2 {
    font-family: p22-underground, sans-serif;
    font-weight: 900;
    font-style: normal;
    text-transform: lowercase;
    font-size: 1.8em;
    margin: 0;
  }

  h3 {
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  
  a {
    font-family: p22-underground, sans-serif;
    font-weight: 900;
    font-style: normal;
    color: $blackpearl;
    text-decoration: none;
    transition: border .1s ease-in-out;
  }

  .btn {
    background-color: $blackpearl;
    color: #fff;
    text-transform: uppercase;
    padding: 12px 25px 10px 25px;
    transition: background-color .3s ease-in-out;

    &:hover {
      background-color: #080e0e;
    }
  }

  p, ul {

    a {

      &:hover {
        padding-bottom: 6px;
        border-bottom: 3px solid $blackpearl;
  
        .arrow-icon {
          transform: translateX(3px);
        }
      }
  
      .arrow-icon {
        padding-left: 5px;
        transition: transform .3s ease-in-out;
      }
    }
  }

  .highlight {
    background: linear-gradient(180deg, rgba(255,255,255,0) 70%, #D1E3E8 70%);
    display: inline;
  }

  .anchor{
    display: block;
    height: 125px;
    margin-top: -125px;
    visibility: hidden;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }

  /* END: Generics */
  /* START: Header */

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;

    #mobile-nav-open {
      display: none;

      @media only screen and (max-width: 775px) {
        display: block;
      }
    }

    .social-list-container {
      background-color: #C16A4B;
      width: calc(100% - 60px);
      height: 30px;
      padding: 5px 30px;
      display: flex;
      justify-content: flex-end;

      .social-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;
        width: 15%;

        @media only screen and (max-width: 775px) {
          width: 100%;
        }

        a {
          color: #fff;
          font-size: 16px;
          border: none;

          &:hover {
            .social-icon {
              transform: translateY(3px);
            }
          }
  
          .social-icon {
            transition: transform .3s ease-in-out;
          }
        }
      }
    }

    #main-nav {
      display: flex;
      flex-direction: column;
      align-items: center;

      #upper-nav {
        background-color: #F9F8F6;
        width: 100%;
        padding: 30px;

        .hide-logo {
          display: none;
        }

        .show-logo {
          display: block;
        }

        #main-logo {
          width: 200px;
          display: block;
          margin: 0 auto;
        }

        #horizontal-logo {
          width: 115px;
          display: none;
          margin: 0 auto;
        }
      }

      .mobile-nav-icons {
        background-color: #fff;
        text-align: center;
        width: 100%;
        padding: 10px 0;
      }

      nav {
        background-color: #ffffff;
        width: 100%;

        @media only screen and (max-width: 775px) {
          flex: 2;
        }

        ul {
          list-style: none;
          display: flex;
          justify-content: space-between;
          width: 500px;
          margin: 30px auto;
  
          a {
            text-transform: uppercase;
          }
  
          @media only screen and (max-width: 775px) {
            &.collapsed {
              display: none;
            }
        
            &.is-expanded {
              display: block;
              font-size: 2em;
              height: 75vh;

              li {
                padding-bottom: 20px;

              }
            }
          }
        }
      }

      a {

        @media only screen and (max-width: 775px) {
          width: 85%;
        }
      }

      #mobile-nav-open, #mobile-nav-close {
          width: 15%;
          padding-top: 30px;
      }

      #mobile-nav-open, #mobile-nav-close {
        display: none;
        color: #222;
        font-size: 2rem;
      }

      #mobile-nav-open {

        @media only screen and (max-width: 775px) {
          display: inline-block;
          cursor: pointer;
        }
      }

      &.mobile-active {

        #mobile-nav-open {
          display: none;
        }

        #mobile-nav-close {
          display: inline-block;
          cursor: pointer;
        }

      }
    }
  }

  /* END: Header */
  /* START: Main Body */

  main {
    margin: 0 auto;
    max-width: 90%;

    @media only screen and (max-width: 775px) {
      max-width: 80%;
    }

    .breadcrumbs {
      font-size: .8em;

      .arrow-icon {
        padding: 0 15px;
      }
    }

    .grid-container {
      display: flex;
      width: 100%;
      justify-content: space-between;

      @media only screen and (max-width: 775px) {
        flex-direction: column;
      }

      .one-half {
        flex-basis: 1;

        &:first-child {
          padding-right: 60px;
        }
      }
    }

    /* START: Jumbotron */

    .jumbotron {
      background-image: url('https://images.unsplash.com/photo-1542435503-956c469947f6?ixlib=rb-1.2.1&auto=format&fit=crop&w=1334&q=80');
      background-size: cover;
      height: 67vh;
      margin-bottom: 35px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255,255,255,.8);
        z-index: 1;
      }

      & > * {
        z-index: 2;
      }

      h1 {
        margin: 20px;
      }
    }

    /* END: Jumbotron */

    section {
      padding: 20px 0;

      #projects,
      #community,
      #about {
        display: block;
        position: relative;
        top: -310px;
        visibility: hidden;
      }
    }

    #about-section {
      .headshot-img {
        max-height: 400px;

        @media only screen and (max-width: 775px) {
          margin: 20px auto;
          display: block;
        }
      }
    }

    #buzzwords,
    #projects-section,
    #community-section {

      ul {
        list-style: none;
        padding-left: 0;

        li {
          padding: 5px 0;
        }
      }
    }

    #community-section {
      span {
        display: block;
      }
    }

    /* START: Projects */
    #projects-section {

      #case-studies {

        ul {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;

          @media only screen and (max-width: 775px) {
            flex-wrap: wrap;
          }

          li {
            width: 30%;
            height: 350px;

            @media only screen and (max-width: 775px) {
              width: 100%;
            }

            div {
              height: 100%;
              width: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              position: relative;

              & > * {
                z-index: 2;
              }

              h3 {
                width: 80%;
              }

              &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(255,255,255,.8);
                z-index: 1;
              }

              &#project-one {
                background-image: url('https://images.unsplash.com/photo-1453928582365-b6ad33cbcf64?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1652&q=80');
                background-size: cover;
              }
    
              &#project-two {
                background-image: url('https://images.unsplash.com/photo-1471897488648-5eae4ac6686b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80');
                background-size: cover;
              }
    
              &#project-three {
                background-image: url('https://images.unsplash.com/photo-1504198070170-4ca53bb1c1fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80');
                background-size: cover;
              }
            }
          }
        }
      }
    }

    /* END: Projects */
    /* START: Buzzwords */

    #buzzwords {
      & > ul {
        flex-wrap: wrap;
      }

      .filter-tool {
        display: flex;
        align-items: center;
        
        ul {

          li {
            background-color: $lilywhite;
            padding: 10px 15px;
            margin-right: 10px;
            line-height: .5em;
            border-radius: 20px;
          }
        }
      }

      ul {
        display: flex;

        li {
          position: relative;
          left: 10px;
          padding: 5px 20px 5px 0px;
          font-size: .8em;

          &::before {
            content: '';
            display: inline-block;
            width: 10px;
            height: 10px;
            position: relative;
            left: -5px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
          }

          &.software {

            &::before {
              background-color: #C16A4B;
            }
          }

          &.development {

            &::before {
              background-color: #DDA126;
            }
          }

          &.etc {

            &::before {
              background-color: #B4D1D8;
            }
          }
        }
      }
    }
  }

  /* END: Buzzwords */
  /* START: Case Studies */

  .case-study-image {
    padding: 25px 0;

    img {
      width: 80%;
      display: block;
      padding-top: 10px;
    }

    caption {
      display: block;
      font-style: italic;
      padding: 10px 0;
      text-align: left;
      font-size: .8em;
    }
  }

  /* END: Case Studies */
  /* START: Footer */

  footer {
    background-color: #C16A4B;
    width: calc(100% - 60px);
    padding: 5px 30px;
    text-align: center;
    color: #fff;

    a {
      color: #fff;
      transition: border .1s ease-in-out;

      &:hover {
        padding-bottom: 6px;
        border-bottom: 3px solid #ffffff !important;
      }
    }
  }

  /* END: Footer */
}