@import "./variables";

.App {
  background: url('../images/bg.jpg') repeat;
  height: calc(100vh - 100px);
  padding: 50px 100px;
  background-color: $lilywhite;

  @media only screen and (max-width: 600px) {
    padding: 50px;
  }

  .App-logo {
    height: 10vh;
  }

  h1 {
    font-family: 'ChaiteaExtraBold';

    &#intro-heading {
      font-size: 12em;
      letter-spacing: 5px;
      margin: 0;
      padding: 0;
    }
  }

  h2 {
    text-transform: lowercase;
    font-weight: 100;
  }
  
  a {
    color: $fountain;
    font-weight: 700;
    text-decoration: none;
    transition: all .3s ease-in-out;
  
    &:hover {
      color: darken( $fountain, 20% );
    }

    &.learn-more {
      text-transform: lowercase;
      letter-spacing: 1px;

      &:hover {
        .learn-more-arrow {
          transform: translateX(10px);
        }
      }

      .learn-more-arrow {
        position: relative;
        top: 3px;
        font-size: 1.25em;
        transition: transform .3s ease-in-out;
      }
    }
  }
  
  main {
    display: flex;
    flex-direction: column;
    padding: 50px 0 50px 100px;
  
    section {
      padding-top: 30px;
    }

    p {
      &#intro-p {
        font-size: 1.5em;
        margin: 10px 0;
      }
    }
  }
  
  #hello-graphic {
    height: 30vh;
    width: 60vmin
  }
  
  .social-list-container {
    position: fixed;
    bottom: 0px;
    left: 100px;
  
    @media only screen and (max-width: 600px) {
      position: unset;
      height: unset;
      width: 80%;
      padding-top: 30px;
    }
  
    .social-list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      list-style: none;
      padding: 0;
      font-size: 1.8em;
      margin: 0;
      height: 50vh;
      text-align: center;
  
      @media only screen and (max-width: 600px) {
        flex-direction: row;
        flex-direction: space-between;
        height: unset;
      }
  
      &:after {
        content: "";
        display: block;
        width: 2px;
        height: 90px;
        background-color: #1F8DA6;
        margin: 0px auto;
  
        @media only screen and (max-width: 600px) {
          display: none;
        }
      }

      a {
        &:hover {
          .social-icon {
            transform: translateX(3px);
          }
        }

        .social-icon {
          transition: transform .3s ease-in-out;
        }
      }
    }
  }
  
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }
}