.App {
  background: url('bg.jpg') repeat;
  height: calc(100vh - 100px);
  padding: 50px 100px;
}

.App-logo {
  height: 10vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px 0;
}

#hello-graphic {
  height: 30vh;
  width: 60vmin
}

main p {
  width: 50%;
  padding-top: 30px;
}

.social-list-container {
  position: fixed;
  bottom: 0px;
  left: 100px;
}

.social-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  font-size: 1.8em;
  margin: 0;
  height: 50vh;
}

.social-list li a {
  color: #1F8DA6;
  transition: .3s ease-in-out all;
}

.social-list li a:hover {
  color: #135564;
}

.social-list:after {
  content: "";
  display: block;
  width: 2px;
  height: 90px;
  background-color: #1F8DA6;
  margin: 0px auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

@media only screen and (max-width: 600px) {
  .App {
    padding: 50px;
  }

  .social-list-container {
    position: unset;
    height: unset;
    width: 80%;
    padding-top: 30px;
  }

  .social-list {
    flex-direction: row;
    flex-direction: space-between;
    height: unset;
  }

  .social-list:after {
    display: none;
  }
  
  main p {
    width: 100%;
  }
}